* {
    /* margin:0;
    padding:0; */
}


.modal-edit {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height:200px;
    width:200px;
}

.bordered {
    /* border: 2px solid black; */
    border-radius:10px;
}